@font-face {
    font-family: VarelaRound;
    src: url('./Varela_Round/VarelaRound-Regular.ttf');
}

html, body, .container-fluid {
  height: 95%;
  color: white;
  background-color: #000;
  font-family: VarelaRound, sans-serif;
}

html {
  -webkit-app-region: drag;
}

.container-fluid {
  padding: 25px;
}

#loading {
  padding-top: 30%;
  width: 100%;
  text-align: center;
}
